/*GENERAL*/

body, html{
	font-size: 16px;
}

/* HEADER */

.header {
	height: 90px;
}

.header-logo{
	height: 100%;
	width: 20%;
	display: inline-block;
	position: relative;
}

.header-logo img {
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.header-main{
	width: 80%;
	display: inline-block;
	float: right;
	height: 45px;
	padding: 0 70px 0 70px;
	box-sizing: border-box;
	line-height: 45px;
}

.header-main .links{
	height: 45px;
	line-height: 45px;
	font-size: 0.88em;
}

.header-main .links a{
	color: #333333;
}

.header-main .links a:nth-child(2){
    float: right;
}

.header-main .main-list{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	font-size: 1.12em;
}

.header-main .main-list-item{
	display: inline-block;
}

.header-main .main-list-item a{
	color: #333333;
	text-decoration: none;
}

.header-main .main-list-item a:hover{
	color: #f80000;
}

/*BANNER*/

.banner{
	background-image: url("../images/hero-sales-desktop.jpg");
	min-height: 500px;
	background-repeat: no-repeat;
	background-position: right center;
	position: relative;
}

.banner-bg{
	background-image: url("../images/over-hero-banner.png");
	height: 500px;
	background-repeat: no-repeat;
}

.banner-text{
	position: absolute;
	top: 0;
	bottom: 0;
	width: 500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: white;
	margin-left: 60px;
}

.banner-text-title{
	font-size: 2.12em;
}

.banner-text-text{
	font-size: 1.12em;
}

.banner-text-ContentButtons{
	display: flex;
}

.banner-text-ContentButtons .button{
	margin-right: 8px;
	padding: 18px 61px;
	color: #006699;
	font-size: 1.06em;
}

.banner-text-ContentLinks{
	display: flex;
}

.banner-text-ContentLinks .link{
	margin-right: 8px;
	padding: 18px 4px;
	color: white;
	font-size: 1.25em;
}
