/*GENERAL*/

body, html{
	font-size: 16px;
}

/* HEADER */

.header {
	height: 90px;
}

.header-logo{
	height: 100%;
	width: 20%;
	display: inline-block;
	position: relative;
}

.header-logo img {
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.header-main{
	width: 80%;
	display: inline-block;
	float: right;
	height: 45px;
	padding: 0 70px 0 70px;
	box-sizing: border-box;
	line-height: 45px;
}

.header-main .links{
	height: 45px;
	line-height: 45px;
	font-size: 0.88em;
}

.header-main .links a{
	color: #333333;
}

.header-main .links a:nth-child(2){
    float: right;
}

.header-main .main-list{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	font-size: 1.12em;
}

.header-main .main-list-item{
	display: inline-block;
}

.header-main .main-list-item a{
	color: #333333;
	text-decoration: none;
}

.header-main .main-list-item a:hover{
	color: #f80000;
}